html { 
  background: url(./images/Natural-Full-HD-Background.jpg) no-repeat center center fixed; 
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}

.mt-1rem {
  margin-top: 1rem;
}
img {
  width: 20%;
}